* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #006105;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

h1 {
  color: #a1000d;
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
}

p {
  margin-top: 1rem;
}

a {
  color: #663399;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

li {
  padding-top: 1rem;
}

li:last-child {
  padding-bottom: 1rem;
}
header {
  margin-top: 2rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.unwrap {
  color: #fff;
}

.unwrap:hover {
  cursor: pointer;
}

.present-box {
  margin-top: 2rem;
}

.present {
  background-color: #fff;
  color: #ff69b4;
}

.present:hover {
  cursor: initial;
}

.wrapping-paper {
  background-color: #663399;
  height: 6rem;
}

.ribbon {
  align-items: center;
  background-color: #ff69b4;
  display: flex;
  justify-content: center;
  min-height: 3rem;
  min-width: 3rem;
}
